<div id="<%= dom_id session %>">
  <p>
    <strong>Zal:</strong>
    <%= session.zal %>
  </p>

  <p>
    <strong>Datas:</strong>
    <%= session.datas %>
  </p>

  <p>
    <strong>Film:</strong>
    <%= session.film %>
  </p>

</div>
