<div id="<%= dom_id film %>">
  <p>
    <strong>Name:</strong>
    <%= film.name %>
  </p>

  <p>
    <strong>Janr:</strong>
    <%= film.janr %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= film.date %>
  </p>

</div>
